<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Pacientes</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <nav>

        <input type="checkbox" id="menu-toggle" class="menu-toggle-checkbox">
        <label for="menu-toggle" class="menu-toggle">☰</label>
        <ul>
            <li><a th:href="@{/}">Home</a></li>
            <li>
                <a href="#">Pacientes</a>
                <ul>
                    <li><a th:href="@{/pacientes/listar}">Listar o editar pacientes</a></li>
                    <li><a th:href="@{/pacientes/registrar}">Registrar Paciente</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Medicos</a>
                <ul>
                    <li><a th:href="@{/medicos/listar}">Listar o editar Medicos</a></li>
                    <li><a th:href="@{/medicos/registrar}">Registrar Medico</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Habitaciones</a>
                <ul>
                    <li><a th:href="@{/habitaciones/listar}">Listar o editar Habitaciones</a></li>
                    <li><a th:href="@{/habitaciones/registrar}">Registrar Habitación</a></li>
                    <li><a th:href="@{/habitaciones/listarConArticulos}">Habitaciones con Artículos</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Articulos</a>
                <ul>
                    <li><a th:href="@{/articulos/listar}">Listar o editar Articulos</a></li>
                    <li><a th:href="@{/articulos/registrar}">Registrar Articulo</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Citas</a>
                <ul>
                    <li><a th:href="@{/citas/listarCitas}">Listar o editar Citas</a></li>
                    <li><a th:href="@{/citas/registrar}">Registrar Cita</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Ingreso de pacientes</a>
                <ul>
                    <li><a th:href="@{/ingresos/listar}">Listar o editar Ingresos de pacientes</a></li>
                    <li><a th:href="@{/ingresos/registrar}">Registrar Ingreso de paciente</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Salida de pacientes</a>
                <ul>
                    <li><a th:href="@{/salidas/listar}">Listar o editar Salidas de pacientes</a></li>
                    <li><a th:href="@{/salidas/registrar}">Registrar Salida de paciente</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Servicios</a>
                <ul>
                    <li><a th:href="@{/pacientesServicios/listarPacientesServicios}">Listar o editar Servicios</a></li>
                    <li><a th:href="@{/pacientesServicios/registrar}">Registrar Servicio</a></li>
                </ul>
            </li>
        </ul>
    </nav>
<h2>Lista de Pacientes</h2>
<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Edad</th>
            <th>Dirección</th>
            <th>Teléfono</th>
            <th>EPS</th>
            <th>Editar paciente</th>
            <th>Eliminar paciente</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="paciente : ${pacientes}">
            <td th:text="${paciente.idPaciente}"></td>
            <td th:text="${paciente.nombre_paciente}"></td>
            <td th:text="${paciente.edad_paciente}"></td>
            <td th:text="${paciente.direccion_paciente}"></td>
            <td th:text="${paciente.telefono_paciente}"></td>
            <td th:text="${paciente.eps_paciente}"></td>
            <td>
                <a th:href="@{/pacientes/editar/{id}(id=${paciente.idPaciente})}">Editar</a>
            </td>
            <td>
                <a th:href="@{/pacientes/eliminar/{id}(id=${paciente.idPaciente})}">Eliminar</a>
            </td>
        </tr>
    </tbody>
</table>
</body>
</html>