<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de ingresos de pacientes</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>

  <nav>
      <input type="checkbox" id="menu-toggle" class="menu-toggle-checkbox">
      <label for="menu-toggle" class="menu-toggle">☰</label>
    <ul>
        <li><a th:href="@{/}">Home</a></li>
        <li>
            <a href="#">Pacientes</a>
            <ul>
                <li><a th:href="@{/pacientes/listar}">Listar o editar pacientes</a></li>
                <li><a th:href="@{/pacientes/registrar}">Registrar Paciente</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Medicos</a>
            <ul>
                <li><a th:href="@{/medicos/listar}">Listar o editar Medicos</a></li>
                <li><a th:href="@{/medicos/registrar}">Registrar Medico</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Habitaciones</a>
            <ul>
                <li><a th:href="@{/habitaciones/listar}">Listar o editar Habitaciones</a></li>
                <li><a th:href="@{/habitaciones/registrar}">Registrar Habitación</a></li>
                <li><a th:href="@{/habitaciones/listarConArticulos}">Habitaciones con Artículos</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Articulos</a>
            <ul>
                <li><a th:href="@{/articulos/listar}">Listar o editar Articulos</a></li>
                <li><a th:href="@{/articulos/registrar}">Registrar Articulo</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Citas</a>
            <ul>
                <li><a th:href="@{/citas/listarCitas}">Listar o editar Citas</a></li>
                <li><a th:href="@{/citas/registrar}">Registrar Cita</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Ingreso de pacientes</a>
            <ul>
                <li><a th:href="@{/ingresos/listar}">Listar o editar Ingresos de pacientes</a></li>
                <li><a th:href="@{/ingresos/registrar}">Registrar Ingreso de paciente</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Salida de pacientes</a>
            <ul>
                <li><a th:href="@{/salidas/listar}">Listar o editar Salidas de pacientes</a></li>
                <li><a th:href="@{/salidas/registrar}">Registrar Salida de paciente</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Servicios</a>
            <ul>
                <li><a th:href="@{/pacientesServicios/listarPacientesServicios}">Listar o editar Servicios</a></li>
                <li><a th:href="@{/pacientesServicios/registrar}">Registrar Servicio</a></li>
            </ul>
        </li>
    </ul>
</nav>
<h2>Lista de ingresos</h2>
<table border="1">
  <thead>
    <tr>
      <th>Id paciente</th>
      <th>Nombre del paciente</th>
      <th>Ciudad de domicilio</th>
      <th>Motivo de hospitalización</th>
      <th>Tiene Acompañante</th>
      <th>Fecha de ingreso</th>
      <th>Número de habitación</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="ingresosPaciente: ${ingresosPacientes}">
      <td th:text="${ingresosPaciente.paciente.idPaciente}"></td>
      <td th:text="${ingresosPaciente.paciente.nombre_paciente}"></td>
      <td th:text="${ingresosPaciente.ciudad_domicilio}"></td>
      <td th:text="${ingresosPaciente.motivo_hospitalizacion}"></td>
      <td th:text="${ingresosPaciente.tiene_acompanante ? 'Si' : 'No'}"></td>
      <td th:text="${ingresosPaciente.fecha_ingreso}"></td>
      <td th:text="${ingresosPaciente.habitacion?.num_habitacion ?: 'Sin habitacion'}"></td>


    </tr>

  </tbody>

</table>

</body>
</html>