<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Paciente</title>
    <link rel="stylesheet" href="/styles.css">
    
</head>
<body>
<nav>
    <input type="checkbox" id="menu-toggle" class="menu-toggle-checkbox">
    <label for="menu-toggle" class="menu-toggle">☰</label>
    <ul>
        <li><a th:href="@{/}">Home</a></li>
        <li>
            <a href="#">Pacientes</a>
            <ul>
                <li><a th:href="@{/pacientes/listar}">Listar o editar pacientes</a></li>
                <li><a th:href="@{/pacientes/registrar}">Registrar Paciente</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Medicos</a>
            <ul>
                <li><a th:href="@{/medicos/listar}">Listar o editar Medicos</a></li>
                <li><a th:href="@{/medicos/registrar}">Registrar Medico</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Habitaciones</a>
            <ul>
                <li><a th:href="@{/habitaciones/listar}">Listar o editar Habitaciones</a></li>
                <li><a th:href="@{/habitaciones/registrar}">Registrar Habitación</a></li>
                <li><a th:href="@{/habitaciones/listarConArticulos}">Habitaciones con Artículos</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Articulos</a>
            <ul>
                <li><a th:href="@{/articulos/listar}">Listar o editar Articulos</a></li>
                <li><a th:href="@{/articulos/registrar}">Registrar Articulo</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Citas</a>
            <ul>
                <li><a th:href="@{/citas/listarCitas}">Listar o editar Citas</a></li>
                <li><a th:href="@{/citas/registrar}">Registrar Cita</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Ingreso de pacientes</a>
            <ul>
                <li><a th:href="@{/ingresos/listar}">Listar o editar Ingresos de pacientes</a></li>
                <li><a th:href="@{/ingresos/registrar}">Registrar Ingreso de paciente</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Salida de pacientes</a>
            <ul>
                <li><a th:href="@{/salidas/listar}">Listar o editar Salidas de pacientes</a></li>
                <li><a th:href="@{/salidas/registrar}">Registrar Salida de paciente</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Servicios</a>
            <ul>
                <li><a th:href="@{/pacientesServicios/listarPacientesServicios}">Listar o editar Servicios</a></li>
                <li><a th:href="@{/pacientesServicios/registrar}">Registrar Servicio</a></li>
            </ul>
        </li>
    </ul>
</nav>
<h2>Formulario de Registro de Paciente</h2>

<form action="#" th:action="@{/pacientes/guardar}" th:object="${paciente}" method="post">
    <div>
        <label for="idPaciente">Cédula:</label>
        <input type="text" id="idPaciente" th:field="*{idPaciente}" required/>
    </div>
    <div>
        <label for="nombre_paciente">Nombre:</label>
        <input type="text" id="nombre_paciente" th:field="*{nombre_paciente}" required/>
    </div>
    <div>
        <label for="edad_paciente">Edad:</label>
        <input type="number" id="edad_paciente" th:field="*{edad_paciente}" required/>
    </div>
    <div>
        <label for="direccion_paciente">Dirección:</label>
        <input type="text" id="direccion_paciente" th:field="*{direccion_paciente}" required/>
    </div>
    <div>
        <label for="telefono_paciente">Teléfono:</label>
        <input type="text" id="telefono_paciente" th:field="*{telefono_paciente}" required/>
    </div>
    <div>
        <label for="eps_paciente">EPS:</label>
        <input type="text" id="eps_paciente" th:field="*{eps_paciente}" required/>
    </div>
    <div>
        <button type="submit">Registrar Paciente</button>
    </div>
</form>
</body>
</html>
